@font-face {
    font-family: 'SharpSansno1';
    src: url('../fonts/SharpSansNo1-Medium.ttf') format('truetype');
    src: url('../fonts/SharpSansNo1-Medium.woff2') format('woff2'),
        url('../fonts/SharpSansNo1-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSansno1Bold';
    src: url('../fonts/SharpSansNo1-Bold.woff') format('truetype');
    src: url('../fonts/SharpSansNo1-Bold.woff2') format('woff2'),
        url('../fonts/SharpSansNo1-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('nexa_bold-webfont.woff2') format('woff2'),
        url('nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}